@font-face {
    font-family: 'Futura';
    src: url(../fonts/Futura\ Heavy\ font.ttf);
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(180, 180, 180);
}
header {
    padding-inline: 5rem;
    height: 68px;
    background-color: white;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.nav-list {
    flex-basis: 35.5%;
}
.nav-list ul {
    display: flex;
    gap: 2.4rem;
    list-style: none;
}
.nav-list ul li a {
    font-family: 'Futura';
    font-size: 1.03rem;
    text-transform: uppercase;
    text-decoration: none;
}
.logo-header {
    flex-basis: 40%;
}
.logo-header img {
    width: 140px;
}
.menu-header {
    display: flex;
    gap: 2.5rem;
}