@font-face {
    font-family: 'Futura';
    src: url(../fonts/Futura\ Heavy\ font.ttf);
}
@font-face {
    font-family: 'Futura-Bold';
    src: url(../fonts/unicode.futurab.ttf);
}
@font-face {
    font-family: 'Futura-Semi';
    src: url(../fonts/Futura\ Extra\ Black\ font.ttf);
}

:root {
    --text-blue: #0F689E;
    --background-and-button-blue: #005F98;
    --button-01: #00416C;
    --border-blue: #00C5E1;
    --hover-button-blue: #154167;
    --hover-button-yellow: #D2BA28;
    --button-yellow: #F8E052;
    --background-orange: #E99F41;
    --transparent-white: #fffffff1;
    --background-white: #FFFFFF;
    --shadow: #0000007c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--background-white);
}

/* ============ HEADER ============ */

header {
    height: 63px;
    background-color: var(--transparent-white);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
header .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding-inline: 40px;
    max-width: 1280px;
    margin-inline: auto;
    
}
header .nav-list {
    flex-basis: 35.5%;
}
header .nav-list ul {
    display: flex;
    gap: 2.4rem;
    list-style: none;
}
header .nav-list ul li a {
    font-family: 'Futura';
    font-size: 1.02rem;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--text-blue);
}
header .logo-header {
    flex-basis: 40%;
}
header .logo-header img {
    width: 140px;
}
header .menu-header {
    display: flex;
    gap: 2.5rem;
}

/* ============ HEADER END ============ */

/* ============ MAIN ============ */

/* ============ SECTION 01 ============ */
main .section-01 {
    background-image: url(../images/2024-Chillin-W-Dutch-Mobile-Desktop.webp);
    background-size: cover;
    height: 870px;
    background-position: center center;
    background-repeat: no-repeat;
    margin-top: 63px;
    display: flex;
    align-items: center;
    justify-content: center;
}
main .section-01-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: -440px;
    margin-top: -70px;
    max-width: 1280px;
}
main .section-01-container img {
    width: 670px;
    margin-bottom: 2rem;
}
main .text-content-01 {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--background-white);
}
main .text-content-01 p {
    font-family: 'Futura';
    font-size: 1rem;
    max-width: 460px;
    line-height: 1.6rem;
    margin-bottom: 2rem;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.849);
}
main .button-01 button {
    padding: 15px 40px;
    text-transform: uppercase;
    font-family: 'Futura-Bold';
    font-size: 1.2rem;
    border-radius: 40px;
    background-color: var(--button-01);
    border: none;
    color: var(--background-white);
    margin-bottom: 30px;
    cursor: pointer;
}
/* ============ SECTION 01 END ============ */

/* ============ SECTION 02 ============ */
main .section-02 {
    background-color: var(--background-white);
    text-align: center;
    padding-block: 70px;
}
main .section-02-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 
main .section-02-container h2 {
    font-family: 'Futura-Bold';
    font-size: 3.2rem;
    margin-bottom: 2.5rem;
    color: var(--background-and-button-blue);
}
main .section-02-container h2 span {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 4rem;
}
main .image-container {
    display: flex;
    max-width: 1280px;
    margin-bottom: 5rem;
}
main .image-container img {
    width: 90%;
    margin-bottom: 1.3rem;
}
main .image-container h3 {
    font-family: 'Futura-Bold';
    font-size: 2.3rem;
    text-transform: uppercase;
    color: var(--text-blue);
}
main .button-02 button {
    padding: 15px 30px;
    text-transform: uppercase;
    font-family: 'Futura-Bold';
    font-size: 1.1rem;
    border-radius: 40px;
    background-color: var(--background-and-button-blue);
    border: none;
    color: var(--background-white);
    cursor: pointer;
}
/* ============ SECTION 02 END ============ */

/* ============ SECTION 03 ============ */
.section-03 {
    width: 100%;
    padding-block: 60px;
    background-color: var(--background-and-button-blue);
}
.title-content-03 {
    display: flex;
    justify-content: space-around;
    margin-bottom: 3rem;
}
.title-content-03 h3 {
    font-family: 'Futura-Bold';
    font-size: 2.3rem;
    color: var(--background-white);
    flex-grow: 1;
    flex-basis: 100%;
    text-align: center;
}
.image-content-03 {
    display: flex;
    justify-content: space-around;
    gap: 5rem;
    margin-bottom: 3rem;
}
.image-content-03 div {
    width: 100%;
}
.image-content-03 div img {
    width: 100%;
}
.image-content-03 div:first-child {
    border-radius: 45px;
    box-shadow: 10px 8px 0px var(--background-orange);
}
.image-content-03 div:first-child > img {
    border-radius: 0px 40px 40px 0px;
    box-shadow: 0px 13px 0px var(--background-orange);
}
.image-content-03 div:nth-child(2) > img {
    border-radius: 40px;
    border: 10px solid var(--background-orange);
}
.image-content-03 div:last-child {
    border-radius: 45px;
    box-shadow: -10px 8px 0px var(--background-orange);
}
.image-content-03 div:last-child > img {
    border-radius: 40px 0px 0px 40px;
    box-shadow: 0px 13px 0px var(--background-orange);
}
.btn-content-03 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.btn-area-03 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-grow: 1;
    flex-basis: 200%;
}
.btn-area-03 p {
    font-family: 'Futura';
    font-size: 1.3rem;
    margin-bottom: 2.5rem;
    color: var(--background-white);
}

.btn-area-03 button {
    padding: 15px 40px;
    text-transform: uppercase;
    font-family: 'Futura-Bold';
    font-size: 1.1rem;
    border-radius: 40px;
    background-color: var(--button-yellow);
    border: none;
    color: var(--background-and-button-blue);
    cursor: pointer;
}